<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18859353814-sgf03qhgi7k09nhn3dd6vh6tj9s1bthu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18859353814-sgf03qhgi7k09nhn3dd6vh6tj9s1bthu</string>
	<key>API_KEY</key>
	<string>AIzaSyCC99vahuW5lgS8otkX_kxxELKPh4SITdw</string>
	<key>GCM_SENDER_ID</key>
	<string>18859353814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>esprit.tn.songHaven-IOS</string>
	<key>PROJECT_ID</key>
	<string>songhavenchat</string>
	<key>STORAGE_BUCKET</key>
	<string>songhavenchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18859353814:ios:3383a7acd0091e07f74b77</string>
</dict>
</plist>